.box {
	display: block;
	width: 800px;
	height: 600px;
	padding: 30px 50px;
	background-color: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	font-family: Arial, sans-serif;
	font-size: 40px;
	color: rgb(102, 102, 102);
}
 
 .impress-enabled .step.active { opacity: 1; }

 .impress-enabled .step.past { display: none; }

 .impress-enabled .step.future { display: none; }